<div class="flex-column align-items-center popup-contact {{ modaleClass }}" id="popup-contact">
	<h2>Message envoyé avec succès !</h2>
	<p>Merci pour votre message. Nous vous contacterons bientôt.</p>
	<a onclick="closePopup()" class="btn btn-warning m-2" href="{{ path('app_home') }}">Fermer</a>
</div>
