<footer>
	{# TODO: ajouter tous les liens des articles populaires #}
	<div class="footer">
		<div>
			<h4>Articles populaires:</h4>
			<div class="pubs-footer d-flex flex-wrap ">
				<a class="pt-1" href="#">Spartan</a>
				<div class="vertical-bar"></div>
				<a class="pt-1" href="#">Entrainements</a>
				<div class="vertical-bar"></div>
				<a class="pt-1" href="#">Tenues</a>
				<div class="vertical-bar"></div>
				<a class="pt-1" href="#">Contact</a>
				<div class="vertical-bar"></div>
				<a class="pt-1" href="#">Photos</a>
				<div class="vertical-bar"></div>
				<a class="pt-1" href="#">Articles</a>
				<div class="vertical-bar"></div>
				<a class="pt-1" href="#">Résultats</a>
				<div class="vertical-bar"></div>
				<a class="pt-1" href="#">Obstacles</a>
				<div class="vertical-bar"></div>
				<a class="pt-1" href="#">Club</a>
				<div class="vertical-bar"></div>
				<a class="pt-1" href="#">Tarifs</a>
				<div class="vertical-bar"></div>
				<a class="pt-1" href="#">Horaires</a>
				<div class="vertical-bar"></div>
				<a class="pt-1" href="#">Spartacademy</a>
				<div class="vertical-bar"></div>
				<a class="pt-1" href="#">Ocr</a>
			</div>
		</div>
		<div class="p-4 end-footer">
			<div style="width : 100%">
				<img class="logo-footer" src="{{ asset('img/logo_spartacademy.jpg') }}" alt="logo spartacademy" style="width : 50%">
			</div>
			<div class="d-flex flex-column">
				<span>Copyright &copy; 2023 MEROU-Clemence.</span>
				<span>Tous droits réservés.</span>
			</div>
			<div>
				<img class="jav" src="{{ asset('img/spear-throw-example.png') }}" alt="spear throw">
			</div>
		</div>
	</div>
</footer>
