<footer>
	<div class="footer">
		<div class="p-4 end-footer">
			<div style="width : 100%">
				<img class="logo-footer" src="{{ asset('img/logo_spartacademy.jpg') }}" alt="logo spartacademy" style="width : 50%">
			</div>
			<div class="d-flex flex-column">
				<span>Copyright &copy; 2023 MEROU-Clemence.</span>
				<span>Tous droits réservés.</span>
			</div>
			<div>
				<img class="jav" src="{{ asset('img/spear-throw-example.png') }}" alt="spear throw">
			</div>
		</div>
	</div>
</footer>
