<header>
	<div class="header">

		<div class="p-1 infos-first-line d-flex justify-content-around">
			<div>
				<i class="fa-solid fa-location-dot"></i>
				<a href="#">Nous trouver</a>
			</div>
			<div>
				<i class="fa-solid fa-envelope"></i>
				<a href="#">spartacademy-contact@gmail.com</a>
			</div>
		</div>
		<h1>Je suis la navbar</h1>

		{# <div class="justify-content-around">
																																																																																			<div class="row align-items-center">
																																																																																				<div class="col-md-2"></div>
																																																																																				<div class="col-md-5">
																																																																																					<div class="d-flex search-bar custom-center align-items-center justify-content-center">
																																																																																						<div class="d-flex search-content"></div>
																																																																																					</div>
																																																																																				</div>
																																																																																				<div class="col-md-5 compte d-flex align-items-center justify-content-end">
																																																																																					<div class="d-flex align-items-center">
																																																																																						<div class="connexion">
																																																																																							<span>Mon compte</span>
																																																																																							<div class="d-flex">
																																																																																								<a href="#">Connection</a>
																																																																																								<span class="barre">/</span>
																																																																																								<a href="#">Déconnection</a>
																																																																																							</div>
																																																																																						</div>
																																																																																						<div class="d-flex picto">
																																																																																							<i class="bi bi-arrow-left-right"></i>
																																																																																							<i class="bi bi-heart"></i>
																																																																																							<i class="bi bi-cart"></i>
																																																																																						</div>
																																																																																					</div>
																																																																																				</div>
																																																																																			</div>
																																																																																		</div> #}
		{# <div class="menu-pages d-flex justify-content-around">
																																																																																			<div class="d-flex justify-content-around">
																																																																																				<div class="col-md-2 search-content-onglet">
																																																																																					<form action="/rechercher" method="get">
																																																																																						<div class="d-flex">
																																																																																							<i class="bi bi-list hamburger"></i>
																																																																																							<select id="categorie-deux" name="categorie">
																																																																																								<option value="toutes">Toutes catégories &nbsp; &nbsp; &nbsp; &#9660;</option>
																																																																																								<option value="accueil">Accueil</option>
																																																																																								<option value="compétition">Compétitions</option>
																																																																																								<option value="catalogue">Catalogue</option>
																																																																																							</select>
																																																																																						</div>
																																																																																					</form>
																																																																																				</div>
																																																																																
																																																																																			</div>
																																																																																			<div class="col-md-2 mt-3 d-flex justify-content-end">
																																																																																				<span class="fr">Fr</span>
																																																																																			</div>
																																																																																		</div> #}
	</div>
</header>
