<header>
	<div class="header">

		<div class="p-1 infos-first-line d-flex justify-content-around">
			<div>
				<i class="fa-solid fa-location-dot"></i>
				<a href="#">Nous trouver</a>
			</div>
			<div>
				<i class="fa-solid fa-envelope"></i>
				<a href="#">spartacademy-contact@gmail.com</a>
			</div>
		</div>

		<div class="d-flex align-items-center">
			<div style="width : 75%">
				<img class="logo" src="{{ asset('img/logo_spartacademy.jpg') }}" alt="logo spartacademy">
			</div>
			<div class="picto-header" style="width : 25%">
				<i class="fa-solid fa-bars"></i>
				<i class="fa-regular fa-user"></i>
				<i class="fa-solid fa-bag-shopping"></i>
			</div>
		</div>

		<div class="d-flex justify-content-end ">
			<span class="fr">Fr</span>
		</div>

	</div>
</header>
