/* TOUT */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

/* VERSION MOBILE 0-767px */

/* HEADER */

/* header fixe */
.header {
    background-color: #030303;
    border-bottom: #B9B9B9 solid;
    font-size: 12px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 125px;
    z-index: 1000;
}

.infos-first-line {
    border-bottom: #B9B9B9 solid;
}

.infos-first-line a:hover {
    color: #E53B2B;
}

.infos-first-line i,
.infos-first-line a {
    color: #B9B9B9;
    margin-right: 4px;
    text-decoration: none;
}

.logo {
    width: 50%;
    object-fit: contain;
    padding-top: 10px;
}

.picto-header {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.picto-header i {
    background-color: #F24E1E;
    border-radius: 25px;
    color: #FEFEFE;
    font-size: 10px;
    margin: 2px;
    padding: 6px;
}

.picto-header i:hover {
    background-color: #E53B2B;
}

.fr {
    color: #B9B9B9;
    padding: 0 10px 2px 0;
}

/* header mobile */

#mobileMenu {
    background-color: #FEFEFE;
}

.offcanvas-header {
    background-color: #030303;
    border-bottom: #B9B9B9 solid;
    color: #FEFEFE;
}

.menu-text {
    background: linear-gradient(#fa1d00, #f33900, #f5993d);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}

.icon-cross {
    color: #FEFEFE;
}

.icon-cross:hover {
    color: #F24E1E;
}

.offcanvas-body {
    background-color: #FEFEFE;
}

.offcanvas-body a {
    color: #030303;
    font-size: 14px;
}

.offcanvas-body a:hover {
    color: #F24E1E;
    transform: scale(1.2);
}

/* MAIN */

/* main gallery */

.image-gallery {
    margin-top: 20px;
    overflow: hidden;
}

.gallery-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.gallery-container img {
    width: 100%;
    height: auto;
}

/* main informatif */

.main {
    margin-top: 125px;
}

.main h2 {
    font-size: 20px;
    margin-bottom: 0;
}

.main h3 {
    font-size: 10px;
    margin: 0;
}

.first-paragraph {
    position: relative;
    min-height: 500px;
    overflow: hidden;
}

.first-paragraph::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/logo-spartan-gris-transparent.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.35;
}

.first-paragraph-title {
    background: linear-gradient(to bottom right, #030303 50%, transparent 50%);
    color: #FEFEFE;
    padding: 20px 20px 50px 15px;
    position: relative;
}

.second-paragraph-title {
    background: linear-gradient(to bottom left, transparent 50%, #030303 50%);
    color: #FEFEFE;
}

.second-paragraph-title-one,
.third-paragraph-title-one {
    padding-left: 0;
    padding: 40px 20px 0 5px;
}

.second-paragraph-title-two,
.third-paragraph-title-two {
    padding-left: 0;
    padding: 0 20px 20px 15px;
}

.main-paragraph-two {
    background-color: #030303;
    color: #FEFEFE;
}

.third-paragraph {
    background-color: #030303;
    color: #FEFEFE;
}

.fourth-paragraph-title {
    background: linear-gradient(to bottom right, #030303 50%, transparent 50%);
    padding: 20px 15px 50px 20px;
    position: relative;
}

/* main, formulaire de contact */

.contact-paragraph-title {
    background: linear-gradient(to bottom left, transparent 50%, #030303 50%);
    color: #FEFEFE;
    padding: 40px 20px 40px 15px;
    position: relative;
}

.contact-paragraph-title h2 {
    background: linear-gradient(#fa1d00, #f33900, #f5993d);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}

.contact-paragraph h3 {
    font-size: 14px;
}

.contact-paragraph {
    background-color: #030303;
    color: #FEFEFE;
    font-size: 14px;
}

.place,
.hours,
.form-contact,
.maps {
    background-color: #2F2F2F;
    margin: 0 30px 0 30px;
}

.place h3,
.hours h3,
.form-contact h3 {
    padding: 20px 10px 10px 20px;
}

.info-place {
    padding: 10px 10px 10px 20px;
}

.info-hours {
    padding: 0 10px 10px 20px;
}

.time-training {
    padding-left: 10px;
}

.form-contact h3 {
    padding-top: 30px;
}

.form-contact div {
    padding: 10px 20px 10px 20px;
}

.button-contact {
    background-color: #008a00;
    border-radius: 8px;
    color: #FEFEFE;
    padding: 5px;
}

.button-contact:hover {
    background-color: #01b101;
}

.asterix {
    font-size: 10px;
    padding: 20px;
}

.sentence-about-media {
    font-size: 12px;
    font-weight: bold;
    padding: 20px 10px 20px 40px;
}

.social-media {
    padding: 20px 40px 20px 10px;
}

.icon-social-media1,
.icon-social-media2 {
    background-color: #F24E1E;
    border-radius: 25px;
    color: #FEFEFE;
    font-size: 14px;
    margin: 2px;
}

.icon-social-media1 {
    padding: 6px 8px 6px 8px;
}

.icon-social-media2 {
    padding: 6px;
}

.icon-social-media1:hover,
.icon-social-media2:hover {
    background-color: #E53B2B;
}

/* popup de confirmation de contact */
.popup-contact {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}


/* FOOTER */

.footer {
    border-top: #B9B9B9 solid;
    font-size: 12px;
    text-align: center;
}

.end-footer {
    background-color: #030303;
    color: #B9B9B9;
}

.logo-footer {
    padding-bottom: 35px;
}

.footer h4 {
    color: #030303;
    font-size: 18px;
    padding-top: 20px;
}

.pubs-footer {
    display: flex;
    justify-content: center;
    padding: 0 40px 30px 40px;
}

.pubs-footer a {
    color: #2F2F2F;
    text-decoration: none;
}

.pubs-footer a:hover {
    color: #E53B2B;
}

.vertical-bar {
    background-color: #F24E1E;
    height: 10px;
    margin: 8px 10px 8px 10px;
    width: 2px;
}




/* VERSION TABLETTE 768 à 991 */
@media (min-width: 768px) {

    /* ici mon responsive medium */

}

/* VERSION COMPUTER 992px and + */
@media (min-width: 992px) {

    /* ici mon responsive big */

}