/* TOUT */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

/* VERSION MOBILE 0-767px */

/* HEADER */

/* header fixe */
.header {
    background-color: #030303;
    border-bottom: #B9B9B9 solid;
    font-size: 12px;
}

.infos-first-line {
    border-bottom: #B9B9B9 solid;
}

.infos-first-line i,
.infos-first-line a {
    color: #B9B9B9;
    margin-right: 2px;
    text-decoration: none;
}

.logo {
    width: 50%;
    object-fit: contain;
    padding: 10px 2px 2px 10px;
}

.picto-header i {
    background-color: #F24E1E;
    border-radius: 25px;
    color: #FEFEFE;
    margin: 2px;
    padding: 8px;
}

.fr {
    color: #B9B9B9;
    padding: 0 10px 2px 0;
}

/* header mobile */

#mobileMenu {
    background-color: #FEFEFE;
}

.offcanvas-header {
    background-color: #030303;
    border-bottom: #B9B9B9 solid;
    color: #FEFEFE;
}

.icon-cross {
    color: #FEFEFE;
}

.icon-cross:hover {
    color: #F24E1E;
}





/* VERSION TABLETTE 768 à 991 */
@media (min-width: 768px) {

    /* ici mon responsive medium */

}

/* VERSION COMPUTER 992px and + */
@media (min-width: 992px) {

    /* ici mon responsive big */

}